<a class="result-row" href={{this.url}}>
  <div class="imgWrapper">
    <img alt="book cover" class="bookCover" src={{this.coverImg}} />
  </div>
  <div>
    <div class= "resul-title">
      <span>{{this.title}}</span>
    </div>
    <div class="author">
      By
      {{#each this.author}}
        <span class="author-name">{{this}}</span>
      {{/each}}
    </div>
  </div>
</a>