<main class="home-area">
  <h1>Book Explorer</h1>
  <label for="search-input" class="search-label"> Enter a book title: </label>
  <input class="search-input" type="text" name="search-input"/>
  <button class="search-button">Search</button>
</main>
